<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Bienvenue sur FutApp{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block content %}
        <a href="{{ path('fos_user_security_login') }}">Login</a>
    {% endblock %}
{% block javascripts %}

{% endblock %}
{% endblock %}
</body>
</html>