{# src/AppBundle/Resources/views/Fut/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur FutApp !</title>
</head>
<body>
<h1>Hello !</h1>

<p>
    Ca FUT sec !
</p>

<a href="{{ path('connexion') }}" class="btn btn-lg btn-block btn-success">
    <i class="fa fa-plus" aria-hidden="true"></i> Connexion PSN
</a>

<p> </p>

</body>
</html>
