{% extends '@SbSAdminLTE/Layout/base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block admin_lte_logo %}
    <a href="{{ path('connect') }}" class="logo">
        <span class="logo-mini"><i class="fa fa-lg fa-home"></i></span>
        <span class="logo-lg">FUT App</span>
    </a>
{% endblock %}

{% block body %}

{% endblock %}
{% block javascripts %}

{% endblock %}
